* {
    margin: 0;
    padding: 0;
}

.siguiente {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
}

.siguiente:hover {
    background-color: white;
    color: black;
    transform: scale (1.5);
}

body, html {
    height: 100%;
    width: 100%;
}

body
{
 display: flex;
 align-items: center;
 justify-content: center;
}
/* Estilos para el div1 */
#div1{
    background-color: red;
}
/* Estilos para el div2 */
#div2{
    background-color: rgba(0, 0, 255, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

div{
    width: 50%;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
}
