/* * {
    margin: 0;
    padding: 0;
} */

body
{
 background-image: url("fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    color: white;
}
p{
    color: white;
}


#btn:hover{
    background-color: white;
    color: black;
    
}
.gif{
    width: 200px;
    height: 200px;
    animation: moverRL 12s linear infinite;
}

@keyframes moverRL {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100vw);
  }
}

.titan{
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .titan {
        width: 60px;
    }
}
