


body
{
 background-image: url("fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    color: white;
}
p{
    color: white;
}


#volver{
     text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
}

#volver:hover {
    background-color: white;
    color: black;
    transform: scale (1.5);
}

#btn:hover{
    background-color: white;
    color: black;
    
}
.gif{
    width: 200px;
    height: 200px;
    animation: moverRL 12s linear infinite;
}

@keyframes moverRL {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100vw);
  }
}

.titan{
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
}



div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mari{
    max-width: 100%;
    height: auto;
}

.baile{
    width: 60px;
}

.titulo_y_baile{
    display: flex;
    gap: 30px;
}

@media (max-width: 600px) {
    .titan {
        width: 60px;
    }
    .mari {
        width: 60px;
    }
    .baile{
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
    }
}